<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9f2f1fcf1c.js" crossorigin="anonymous"></script>
    <title>HealthGuard AI</title>
    <link rel="stylesheet" href="../static/swiper-bundle.min.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/newcss.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
  </head>

  <body oncontextmenu="return false">
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">HealthGuard AI</a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <i class="uil uil-estate nav__icon"></i>Home
              </a>
            </li>
            <li class="nav__item">
              <a href="#form" class="nav__link">
                <i class="uil uil-user nav__icon"></i>Patient Detail Form
              </a>
            </li>
            <li class="nav__item">
              <a href="#record" class="nav__link">
                <i class="uil uil-file-alt nav__icon"></i>Record
              </a>
            </li>           
            <li class="nav__item">
              <a href="#collab" class="nav__link">
                <i class="uil uil-scenery nav__icon"></i>Collaboration
              </a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">
                <i class="uil uil-message nav__icon"></i>Contact-Me
              </a>
            </li>
          </ul>
          <i class="uil uil-times nav__close" id="nav-close"></i>
        </div>
        <div class="nav__btns">
          <!-- Theme change button -->
          <i class="uil uil-moon change-theme" id="theme-button"></i>

          <div class="nav__toggle" id="nav-toggle">
            <i class="uil uil-apps"></i>
          </div>
        </div>
      </nav>
    </header>
    <!-- main-->

    <main class="main">
      <!--========================= Home =====================-->

      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__content grid">
            <div class="home__social">
              
            </div>
            <div class="home__img">
              <svg
                class="home__blob"
                viewBox="0 0 200 187"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <mask id="mask0" mask-type="alpha">
                  <circle cx="100" cy="93.5" r="93.5" fill="white" /> <!-- Changed path to circle -->
                </mask>
                <g mask="url(#mask0)">
                  <rect width="100%" height="100%" fill="#ffffff" /> <!-- background rectangle -->
                  <image
                    class="home__blob-img"
                    x="10" 
                    y="22" 
                    width="200"
                    height="187"
                    xlink:href="../static/bot.png"
                  />
                </g>
              </svg>
            </div>
            
            <div class="home__data">
              <h1 class="home__title">Detect Early, Act Faster, Save Lives</h1>
              <h3 class="home__subtitle">
                Your Partner in Proactive Health Management
              </h3>
              <p class="home__description">
                AI-driven health screening alerts for early intervention and improved patient outcomes.
              </p>
              <a href="#contact" class="button button--flex">
                Learn More<i class="uil uil-message button__icon"></i>
              </a>
            </div>
          </div>

          <div class="home__scroll">
            <a href="#about" class="home__scroll-button button--flex">
              <i class="uil uil-mouse-alt home__scroll-mouse"></i>
              <span class="home__scroll-name">Scroll down</span>
              <i class="uil uil-arrow-down home__scroll-arrow"></i>
            </a>
          </div>
        </div>
      </section>

      <!--======================= Patient Detail Form ========================-->

      <section class="about section" id="form">
        <h2 class="section__title">Patient Detail Form</h2>

        <div class="registration-form">
          <form id="patientForm">
            <div class="form-group">
                <input type="text" name="fname" class="form-control item" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <input type="text" name="Lname" class="form-control item" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <select name="gender" class="form-control-item form-select gender" required>
                    <option selected>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
              <input type="text" name="temperature" class="form-control item" placeholder="Temperature (°C)" required>
            </div>
            <div class="form-group">
              <input type="text" name="heart-rate" class="form-control item" placeholder="Heart Rate (bpm)" required>
            </div>
            <div class="form-group">
              <input type="text" name="respiratory-rate" class="form-control item" placeholder="Reapiratory Rate (breaths per minute)" required>
            </div>
            <div class="form-group">
              <input type="text" name="wcb" class="form-control item" placeholder="White Blood Cells (/mm³)" required>
            </div>
            <!-- <div class="form-group">
                <input type="email" name="email" class="form-control item" placeholder="Email" required>
            </div> -->
            
            <!-- <div class="form-group">
                <input type="date" name="birth-date" class="form-control item" placeholder="Birth Date">
            </div> -->
            <div class="form-group">
                <input type="text" name="blood-group" class="form-control item" placeholder="Blood Group" required>
            </div>
            <!-- <div class="form-group">
                <input type="text" name="Sugar-level" class="form-control item" placeholder="Sugar Level" required>
            </div> -->
            <div class="form-group">
                <input type="text" name="You Concerns" class="form-control item" placeholder="Your Concerns" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Register</button>
            </div>
        </form>
        
      </div>
        

            <!-- <div class="about__buttons">
              <a download="" href="assets\MyCV.pdf" class="button button--flex">
                Download CV<i class="fas fa-download button__icon"></i>
              </a>
            </div> -->
          
      </section>

      <!--===================== Record =====================-->
      <section class="skills section" id="record">
        <h2 class="section__title">Record</h2>
        <span class="section__subtitle">Recent Record of Patient Listed Here</span>
        <div class="container table-container">
          <table id="alert-table" class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Temperature</th>
                <th>Heart Rate</th>
                <th>Respiratory Rate</th>
                <th>White Blood Cells</th>
                <th>Blood Group</th>
                <th>Your Concerns</th>
                <th>Sepsis</th>
              </tr>
            </thead>
            <tbody>
              <!-- Table rows will be inserted here -->
            </tbody>
          </table>
        </div>
      </section>      

      <!--=================== Collaboration ===================-->
      <section class="portfolio section" id="collab">
        <h2 class="section__title">Collaboration</h2>
        <span class="section__subtitle">Most recent collaboration</span>

        <div class="portfolio__container container swiper-container">
          <div class="swiper-wrapper">
            <!-- ------------------------Collaboration 1-------------------- -->
            <div class="portfolio__content grid swiper-slide">
              <img src="../static/Xavor.png" class="portfolio__img" />

              <div class="portfolio__data">
                <h3 class="portfolio__title">
                  About Xavor Corporation
                </h3>
                <p class="portfolio__description">
                  Xavor Corporation is a leading technology company based in Irvine, California. We are committed to help our clients with reliable software solutions and the best technology and business advice. With a rich experience of providing technology solutions at exceptional quality standards, Xavor enjoys trust of thousands of companies including Fortune 500. Xavor is headquartered in Irvine, California with offices in China and Pakistan.
                </p>
                <a
                  href="https://www.xavor.com/"
                  class="button button--flex button--small portfolio__button"
                >
                  Website
                  <i class="uil uil-external-link-alt button__icon"></i>
                </a>
              </div>
            </div>
            <!-- ------------------------Collaboration 2-------------------- -->

            <div class="portfolio__content grid swiper-slide">
              <img src="../static/UET.png" class="portfolio__img" />

              <div class="portfolio__data">
                <h3 class="portfolio__title">
                  About UET, Lahore
                </h3>
                <p class="portfolio__description">
                  University of Engineering and Technology (UET) Lahore's vision is
                  to generate knowledge for global competitive advantage and become a leading world class research University.
                  It's mission is to play a leading role as a University of Engineering and Technology in teaching, research, innovation and commercialization that is internationally relevant and has a direct bearing on national industrial, technological and socio-economic development.
                </p>
                <a
                  href="https://www.uet.edu.pk/home/"
                  class="button button--flex button--small portfolio__button"
                >
                  Website
                  <i class="uil uil-external-link-alt button__icon"></i>
                </a>
              </div>
            </div>

            <!-- ------------------------Collaboration 3-------------------- -->
            <div class="portfolio__content grid swiper-slide">
              <img src="../static/UC.png" class="portfolio__img" />

              <div class="portfolio__data">
                <h3 class="portfolio__title">About University of California</h3>
                <p class="portfolio__description">
                  The University of California began more than 150 years ago on a simple but revolutionary idea: that college should be available to everyone. That same spirit still guides us today.
                  The University of California opened its doors in 1869 with just 10 faculty members and 40 students. Today, the UC system has more than 280,000 students and 227,000 faculty and staff, with 2.0 million alumni living and working around the world.
                </p>
                <a
                  href="https://www.universityofcalifornia.edu/"
                  class="button button--flex button--small portfolio__button"
                >
                  Website
                  <i class="uil uil-external-link-alt button__icon"></i>
                </a>
              </div>
            </div>
            <!-- ------------------------Collaboration 4-------------------- -->
            <div class="portfolio__content grid swiper-slide">
              <img src="../static/Mentor.png" class="portfolio__img" />

              <div class="portfolio__data">
                <h3 class="portfolio__title">Nazeef Ul Haq (Mentor)</h3>
                <p class="portfolio__description">
                  Highly passionate, self motivated, created, and eager to learn new things. Always eager to do something extraordinary in life which could help our society and our country as well. To seek a challenging and competitive role where I can use my expertise technical skills, analytical power and experience gained to produce innovative solutions for problems and can work better for an institution.
                </p>
                <a
                  href="https://www.linkedin.com/in/nazeef-ul-haq1/"
                  class="button button--flex button--small portfolio__button"
                >
                  LinkedIn
                  <i class="uil uil-external-link-alt button__icon"></i>
                </a>
              </div>
            </div>

            <!-- ------------------------Collaboration 5-------------------- -->
            <div class="portfolio__content grid swiper-slide">
              <img src="../static/Developer.png" class="portfolio__img" />

              <div class="portfolio__data">
                <h3 class="portfolio__title">Shahbaz Ghafil (Developer)</h3>
                <p class="portfolio__description">
                  Shahbaz Ghafil is a talented young individual who is making a name for himself in the world of technology. As a computer science student at UET Lahore, he is well-versed in programming languages and software development, with a specialization in .Net development. His passion for technology is evident in his roles as a GenAI internee at Xavor Corporation and a Beta Microsoft Learn Student Ambassador, as well as his contributions to open-source projects.
                </p>
                <a
                  href="https://www.linkedin.com/in/shahbaz-ghafil/"
                  class="button button--flex button--small portfolio__button"
                >
                  LinkedIn
                  <i class="uil uil-external-link-alt button__icon"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- add arrows -->
          <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
          </div>
          <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
          </div>
          <!-- add pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </section>
    </main>

    <!--================== Footer ===============-->
    <footer class="footer">
      <div class="footer__bg">
        <div class="footer__container container grid">
          <div>
            <h1 class="footer__title">HealthGuard AI</h1>
            <span class="footer__subtitle">Your Partner in Proactive Health Management</span>
          </div>

          <ul class="footer__links">
            <li>
              <a href="#form" class="footer__link">Patient Detail Form</a>
            </li>
            <li>
              <a href="#record" class="footer__link">Record</a>
            </li>
            <li>
              <a href="mailto:shahbazghafil@gmail.com" class="footer__link">Contact-Me</a>
            </li>
          </ul>

          <div class="footer__socials">
            <a
              href="#"
              class="footer__social"
              target="__blank"
            >
            <i class="fa-brands fa-instagram"></i>
            </a>

            <a
              href="#"
              target="__blank"
              class="footer__social"
            >
            <i class="fa-brands fa-x-twitter"></i>
            </a>
          </div>
        </div>

        <p class="footer__copy">&#169; Shahbaz. All right reserved</p>
      </div>
    </footer>

    <!--================== SCROLL TOP ==================-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <script type="text/javascript" src="../static/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2205d59d52.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="../static/ptj.js"></script>
  </body>
</html>
